<div class="container-mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <% if (!contact) { %>
        <div class="alert alert-danger fw-bold" role="alert">
          Data Contact Tidak ada. <br> <a href="/contact" class="alert-link fw-normal text-decoration-none"><i class="bi bi-arrow-bar-left"></i> Kembali Ke Daftar Contact</a>.
        </div>
      <% } else { %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= contact.nohp %></h6>
          <p class="card-text"><%= contact.email %></p>
          <a href="/contact/edit/<%= contact.nama %>" class="btn btn-primary badge" onclick="return confirm('Apa Anda Ingin Mengedit Data Contact <%= contact.nama %> ?')">Ubah</a>
          <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge" onclick="return confirm('Apa Anda Yakin Ingin Menghapus Data Contact <%= contact.nama %> ?')">Hapus</a>
          <a href="/contact" class="card-link text-decoration-none d-block mt-3"><i class="bi bi-arrow-bar-left"></i> Kembali ke daftar contact</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>